body {background-color:hsla(120,100%,75%,0.3);}
h1{color:hsl(0, 100%, 70%);}
div {
  border: 1px solid black;
  background-color: yellow;
  padding-top: 20px;
  padding-right: 90px;
  padding-bottom: 25px;
  padding-left: 10px;
}
